body {
	background-attachment:fixed;
    margin: 0;
	padding:0;
    line-height: 1.6;
    background: url('images/fon.jpg');
    background-size: cover;
    overflow-x: hidden;
}





@font-face {
	font-family: GothamM;
	src: url('fonts/ofont.ru_Gotham\ Pro.ttf');
}
@font-face {
	font-family: GothamR;
	src: url('fonts/14078.ttf');
}
@font-face {
	font-family: Tektur;
	src: url("fonts/Tektur-Regular.ttf");
  }
  
  .menu {
	background-color: #1D1F20;
	position: absolute;
	z-index: 20;
	top: 0;
	bottom: 0;
	right: 0;
}
.slide_menu {
	width: 325px;
	min-height: 100vh;
	transition: 0.4s;
	opacity: 0;
	transform-origin: right;
	transform: scaleX(0);
}
.nav_menu {
	max-width: 260px;
	padding: 0;
	margin: 130px 25px;
   list-style: none;
}
li {
	display: list-item;
   text-align: -webkit-match-parent;
}
.menu_link_btn, .menu_link{
	font-size: 20px;
	font-family: GothamM;
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.1s;
}
.menu_link {
	margin: 15px 19.5px;
	display: block;
}
.menu_link_btn{
	transition: 0.1s;
}
.menu_link:hover, .menu_link_btn:hover{
	color: #ecdf89;
	text-shadow: 0 0 2px #fdee8e;
	padding: 15px;
}
	
.link_planet{
	font-size: 20px;
	font-family: GothamM;
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	margin: 0 35px;
	display: block;
}
.link_planet:hover{
	color: #ecdf89;
	text-shadow: 0 0 2px #fdee8e;
	padding: 7px;
}
.planet_list{
	transform: scaleY(0);
	transition: 0.2s;
	position: absolute;
	transform-origin: top;
}
.planet_list_active{
	transform: scaleY(1);
	position: static;
}
.arrow{
	height: 16px;
	margin-right: 8px;
	margin-bottom: -1px;
	transition: 0.2s;
}
.arrow_active{
	transform: rotate(90deg);
}

.slide_menu_active {
	transform: scaleX(1);
	opacity: 1;
}
.poloska1, .poloska2, .poloska3{
	position: absolute;
	background-color: white;
	transform: rotate(-26deg) scaleX(0);
	z-index: 20;
	transition: 0.2s;
	transform-origin: right;
}
.poloska1{
	width: 350px;
	height: 3px;
	bottom: 21.5vh;
	right: 8vw;
}
.poloska2{
    position: absolute;
    width: 430px;
    height: 7px;
    background-color: white;
    transform: rotate(-26deg) scaleX(0);
    bottom: 35vh;
    right: 1vw;
    z-index: 20;
    transition: 0.2s;
    transform-origin: right;
    }
    .poloska3{
    position: absolute;
    width: 230px;
    height: 5px;
    background-color: white;
    transform: rotate(-26deg) scaleX(0);
    bottom: 25vh;
    right: 1vw;
    z-index: 20;
    transition: 0.2s;
    transform-origin: right;
    }

.poloska_active{
	transform: rotate(-26deg) scaleX(1);
	transition: 0.2s;
	transform-origin: right;
}
.poloska_act{
	transform: rotate(-26deg) scaleX(0);
}

header {
	width: 85vw;
	margin: 0 auto;
	height: 20vh;
}
.header_inner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.logo{
	margin: 20px;
}
.menu_btn {
	margin-top: 70px;
	margin-right: 20px;
	width: 56px;
	height: 36px;
	display: block;
	position: relative;
	z-index: 20;
}
.menu_btn span,
.menu_btn span::before,
.menu_btn span::after{
	position: absolute;
	top: 50%; margin-top: -2px;
	width: 56px;
	height: 4px;
	background-color: white;
}
.menu_btn span::before,
.menu_btn span::after{
	content: '';
	display: block;
	transition: 0.4s;
}
.menu_btn span::before{
	transform: translateY(12px);
}
.menu_btn span::after{
	transform: translateY(-12px);
}
.menu_btn_active span{
	height: 0;
}
.menu_btn_active span:before{
	transform: rotate(45deg);
	height: 3px;
	width: 50px;
}
.menu_btn_active span:after{
	transform: rotate(-45deg);
	height: 3px;
	width: 50px;
}
.menu_btn_active {
	transform: translate(100px);
}
@media (max-width: 1450px){
	header{
		width: 90vw;
	}
	.logo{
		transform: scale(0.9);
	}
	.menu_btn{
		transform: scale(0.9);
		margin: 0;
		align-self: center;
		margin-right: 20px;
		margin-top: 20px;
	}
	.nav_menu{
		margin: 100px 25px;
	}
	.menu_link{
		margin: 10px 15px;
	}
	.poloska1{
		bottom: 25vh;
	}
}

@media (max-width: 900px) {
	header{
		height: 15vh;
		justify-content: center;
		align-content: center;
	}
	.logo img{
		width: 200px;
	}
	.logo{
		margin: 10px 0;
	}
	.menu_btn{
		transform: scale(0.8);
		margin: 0;
		align-self: center;
		margin-right: 20px;
		margin-top: 22px;
	}
	.nav_menu{
		margin: 100px 25px;
	}
	.menu_link{
		font-size: 18px;
		margin: 9px 15px;
	}
	.menu_link_btn, .link_planet{
		font-size: 18px;
	}
	.poloska1{
		right: 13vw;
	}
}

@media (max-width: 600px) {
	header{
		justify-content: center;
		align-content: center;
	}
	.logo img{
		width: 170px;
	}
	.logo{
		margin: 10px 0;
	}
	.menu_btn{
		transform: scale(0.7);
		margin: 0;
		align-self: center;
		margin-right: 20px;
		margin-top: 16px;
	}
	.nav_menu{
		margin: 90px 25px;
	}
	.menu_link{
		font-size: 16px;
		margin: 4px 15px;
	}
	.menu_link_btn, .link_planet{
		font-size: 16px;
	}
	.poloska1{
		right: 20vw;
	}
}

/*//////////////////////////*/

.container {
	margin: 0 auto;
	max-width: 1460px;
}

.tour-title {
	text-align: center;
	color: white;
	text-transform: uppercase;
	margin-bottom: 100px;
}
.tour-title h2 {
	margin: 0;
	font-size: 70px;
	font-family: GothamR;
	letter-spacing: 35px;
    font-weight: 50;
    text-shadow: 10px 0px 15px black;
}

.tour{
    transition: 0.4s;
}

.tour:hover{
    font-size: 78px;
}

.colortext {
    transition: 0.4s;
}

.colortext:hover{
    color: rgb(248, 65, 33);
    font-size: 58px;
}


.tour-info {
	margin-top: 65%;


}

.comment {
    text-align: center;
    font-weight: 300;
    color: white;
    font-size: 55px;
    margin-bottom: 40%;
    font-family: Montserrat;
    text-shadow: 10px 0px 10px black;
}

.info-title {
	text-align: center;
	color: tomato;
	margin-bottom: 50px;
	transition: 0.4s;
}

.info-title:hover{
    font-size: 58px;
	color: rgb(248, 65, 33);
}

.info-title h3 {
	font-size: 43px;
	font-family: GothamR;
	letter-spacing: 10px;
}

.section-1 {
    display: flex;
    flex-direction: column;
}

.description {
    color: white;
    font-size: 30px;
    width: 90%;
    margin-bottom: 120px;
    font-family: Montserrat;
    text-align: center;
    align-items: center;
    margin-right: 7%;
    margin-left: 7%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
}



.facts-tittle {
    font-family: GothamR;
	text-align: center;
	color: tomato;
    font-size: 35px;
}






/* SLIDER
===========================*/
 /* стили основного контейнера слайдера */





 .slider {
	position: relative;
	overflow: hidden;

  }
.slider__item{
	height: 30vh;
	
}
  .slider__item1{
	width: auto;
	background: #00000091  center no-repeat ;
	background-size: cover;
	height: 30vh;
	
}
  .slider__item2{
	background: #00000091 center no-repeat;
	  width: auto;
	  height: 30vh;
	  background-size: cover;
  }
  .slider__item3{
	background: #00000091  center no-repeat;
	width: auto;
	height: 30vh;
	background-size: cover;
}
.slider__item4{
	background: #00000091  center no-repeat;
	width: auto;
	height: 30vh;
	background-size: cover;
}
.slider__item5{
	background: #00000091 center no-repeat;
	width: auto;
	height: 30vh;
	background-size: cover;
}
/* стили для обёртки, в которой заключены слайды */
.slider__wrapper {
	position: relative;
	overflow: hidden;
  }

  /* стили для контейнера слайдов */
  .slider__items {
	display: flex;
	transition: transform 0.6s ease;
  }

  /* стили для слайдов */
  .slider__item {
	flex: 0 0 100%;
	width: 100vw;
	height: auto;
  }

  /* стили для кнопок "вперед" и "назад" */
  .slider__control {
	position: absolute;
	top: 50%;
	display: none;
	align-items: center;
	justify-content: center;
	width: 5%;
	color: #fff;
	text-align: center;
	opacity: 0.9;
	
	
  }

  .slider__control_show {
	display: flex;
  }

  .slider__control:hover,
  .slider__control:focus {
	color: #fff;
	text-decoration: none;
	outline: 0;
	opacity: 1;
  }

  .slider__control_prev {
	left: 7%;
  }

  .slider__control_next {
	right: 7%;
  }

  .slider__control::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
  }

  .slider__control_prev::before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .slider__control_next::before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  /* стили для индикаторов */
  .slider__indicators {
	position: absolute;
	right: 0;
	bottom: 10px;
	left: 0;
	z-index: 15;
	display: flex;
	justify-content: center;
	padding-left: 0;
	margin-right: 15%;
	margin-left: 15%;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
  }

  .slider__indicators li {
	box-sizing: content-box;
	flex: 0 1 auto;
	width: 30px;
	height: 4px;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.5);
	background-clip: padding-box;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
  }

  .slider__indicators li.active {
	background-color: #fff;
  }

  /* для стилизации текущего слайдера */
  .img-fluid {
	display: inline-block;
	height: auto;
	max-width: 100%;
  }

  .slider__item_text {
    text-align: center;
    font-weight: 300;
    color: white;
    font-family:  GothamM;
    font-size: 35px;
    position: relative;
    top: 20%;
    margin: 0 auto;
    width: 90vh;
    
  }
  
  .slider__item_text2 {
    text-align: center;
    font-weight: 300;
    color: white;
    font-family:  GothamM;
    font-size: 29px;
    position: relative;
    top: 18%;
    margin: 0 auto;
    width: 128vh;
  }

  .request {
    font-family: GothamR;
	text-align: center;
	color:white;
    font-size: 55px;
    margin-top: 2%;
	z-index: 2;
  }



  .fire-section {
	margin: 0 0;
	padding: 0;
	height: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
  }
  
  .flame {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 25em;
    height: 8em;
    font-size: 100px;
    position: relative;
    z-index: 10;
}
  
  
  .flame span {
	position: absolute;
	width: 6em;
	height: 5em;
	background: radial-gradient(
		orangered 20%,
		rgba(255, 69, 0, 0) 70%
	);
	border-radius: 50%;
	bottom: -5%;
	left: calc((var(--n) - 1) * 25em / var(--particles));
	mix-blend-mode: screen;
	animation: rise 1s ease-in infinite;
	animation-delay: calc(var(--rnd) * 1s);
  }
  
  @keyframes rise {
	from {
		transform: translateY(0) scale(1);
		filter: opacity(-1);
	}
	
	25% {
		filter: opacity(1);
	}
	
	to {
		transform: translateY(-10em) scale(0);
		filter: opacity(-1);
	}
  }

/*meeeeeeeeeeeeeedia*/
@media (max-width: 2600px) and (min-width:2000px) {


			.description {
				color: white;
				font-size: 33px;
				margin-bottom: 120px;
				font-family: Montserrat;
				text-align: center;
				align-items: center;
				margin-right: 7%;
				margin-left: 7%;
				margin-bottom: 10%;
				display: flex;
				flex-direction: column;
				width: 87%;
				text-align: justify;
				line-height: 1.4;
			}
		



}




@media (max-width: 1920px) {

	.slider__item_text2{
		font-size: 27px;
		margin: 0 auto;
		width: 80vw;
	; }
	
	 .slider__item_text {
				top: 15%;
				width: 78vw;
				font-size: 35px;
			}
			.description {
				color: white;
				font-size: 33px;
				margin-bottom: 120px;
				font-family: Montserrat;
				text-align: center;
				align-items: center;
				margin-right: 7%;
				margin-left: 7%;
				margin-bottom: 10%;
				display: flex;
				flex-direction: column;
				width: 87%;
			
			}
		



}
  @media (max-width: 1600px) {
	.slider__item_text2{
	font-size: 27px;
	margin: 0 auto;
	width: 80vw;
	top: 2%;
 }

 .slider__item_text {
			top: 2%;
			width: 78vw;
			font-size: 35px;
		}


.description {
		color: white;
		font-size: 33px;
		margin-bottom: 120px;
		font-family: Montserrat;
		text-align: center;
		align-items: center;
		margin-right: 7%;
		margin-left: 7%;
		margin-bottom: 10%;
		display: flex;
		flex-direction: column;
		width: 87%;
		text-align: justify;
		line-height: 1.4;
	}


}

@media (max-width: 1300px) {
	.flame {
	    padding: 0;
    margin: 0;
    text-align: center;
    width: 15em;
    height: 7em;
    font-size: 90px;
    position: relative;
    z-index: 10;
}
.description {
	color: white;
	font-size: 33px;
	margin-bottom: 120px;
	font-family: Montserrat;
	text-align: center;
	align-items: center;
	margin-right: 7%;
	margin-left: 7%;
	margin-bottom: 10%;
	display: flex;
	flex-direction: column;
	width: 87%;
	text-align: justify;
	line-height: 1.4;
}

.slider__item_text2{
	font-size: 27px;
	margin: 0 auto;
	width: 80vw;
	top: 3%; }

  .slider__item_text {
			top: 7%;
			width: 90vw;
			font-size: 33px;
		}

}
 

@media (max-width: 1070px) {
	.slider__item_text2{		
		font-size: 26px;
		margin: 0 auto;
		width: auto;
		top: 7%; }

		.slider__item_text{
			font-size: 33px;
			margin: 0 auto;
			width: auto;
			top: 12%;
		}


		.flame {
			padding: 0;
		margin: 0;
		text-align: center;
		width: 15em;
		height: 7em;
		font-size: 90px;
		position: relative;
		z-index: 10;
	}

	.description {
		color: white;
		font-size: 32px;
		margin-bottom: 120px;
		font-family: Montserrat;
		text-align: center;
		align-items: center;
		margin-right: 7%;
		margin-left: 7%;
		margin-bottom: 10%;
		display: flex;
		flex-direction: column;
		width: 87%;
		text-align: justify;
		line-height: 1.4;
	}


	}


@media (max-width: 900px) {
	.slider__item_text{
		font-size: 32px;
		margin: 0 auto;
		width: auto;
		top: 17%;
	}

	.slider__item_text2{		
		font-size: 25px;
		margin: 0 auto;
		width: auto;
		top: 7%; }

		.flame {
			padding: 0;
		margin: 0;
		text-align: center;
		width: 15em;
		height: 7em;
		font-size: 90px;
		position: relative;
		z-index: 10;
	}

	.description {
		color: white;
		font-size: 30px;
		margin-bottom: 120px;
		font-family: Montserrat;
		text-align: center;
		align-items: center;
		margin-right: 7%;
		margin-left: 7%;
		margin-bottom: 10%;
		display: flex;
		flex-direction: column;
		width: 87%;
		text-align: justify;
		line-height: 1.4;
	}
	

	}


@media (max-width: 770px) {


	.slider__item_text{
		font-size: 26px;
		margin: 0 auto;
		width: auto;
		top: 15%;
	}

	.slider__item_text2{		
		font-size: 19px;
		margin: 0 auto;
		width: auto;
		top: 10%;
	}

	.flame {
	    padding: 0;
    margin: 0;
    text-align: center;
    width: 15em;
    height: 7em;
    font-size: 90px;
    position: relative;
    z-index: 10;
}

.description {
	color: white;
	font-size: 27px;
	margin-bottom: 120px;
	font-family: Montserrat;
	text-align: center;
	align-items: center;
	margin-right: 7%;
	margin-left: 7%;
	margin-bottom: 10%;
	display: flex;
	flex-direction: column;
	width: 87%;
	text-align: justify;
	line-height: 1.4;
}

}


@media  (max-width:550px) {

	.slider__item_text{
		font-size: 24px;
		margin: 0 auto;
		width: auto;
		top: 12%;
	}

	.slider__item_text2{
		font-size: 17px;
		margin: 0 auto;
		width: auto;
	}

	.flame  {
		padding: 0;
		margin: 0;
		text-align: center;
		width: 15em;
		height: 7em;
		font-size: 50px;
		position: relative;
		z-index: 10;
	}

	.description {
		color: white;
		font-size: 25px;
		margin-bottom: 120px;
		font-family: Montserrat;
		text-align: center;
		align-items: center;
		margin-right: 7%;
		margin-left: 11%;
		margin-bottom: 10%;
		display: flex;
		flex-direction: column;
		width: 80%;
		text-align: justify;
		line-height: 1.4;
  }

}



@media (max-width: 450px) {

	.tour-title h2 {
		font-size: 50px;
		font-family: GothamR;
		letter-spacing: 10px;
		margin-top: 6%;
	}

	.tour:hover{
		font-size: 55px;
	}

	.comment {
        font-size: 40px;
		margin-top: -5%;

	}

	.facts-tittle {
		color:rgb(235, 35, 0);
	}

	.info-title h3 {
        font-size: 39px;
       letter-spacing: 7px;
	}

	.slider__item_text{
		font-size: 20px;
		margin: 0 auto;
		width: 80vw;
		top: 12%;
		text-align: justify;
		line-height: 1.4;
	}

	.slider__item_text2{
		font-size: 14px;
		margin: 0 auto;
		width: 80vw;
		top: 8%;
		text-align: justify;
		line-height: 1.4;
	}

	.flame  {
			padding: 0;
			margin: 0;
			text-align: center;
			width: 17em;
			height: 6em;
			font-size: 50px;
			position: relative;
			z-index: 10;
		}

		 .request {
    font-family: GothamR;
	text-align: center;
	color:white;
    font-size: 50px;
    margin-top: -12%;
	z-index: 2; }

	.description {
	    color: white;
    font-size: 23px;
    margin-bottom: 120px;
    font-family: Montserrat;
    text-align: center;
    align-items: center;
    margin-right: 7%;
    margin-left: 11%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: justify;
    line-height: 1.4;

}

.section-2 {
  width: 100vw;
  margin:0;
  padding: 0;

}
  
.slider__item1 {
    background: #0000006e center no-repeat;
        background-size: auto;
    width: 100vw;
    height: 40vh;
    background-size: cover;

}

.slider__item2 {
    background: #0000006e center no-repeat;
        background-size: auto;
    width: auto;
    height: 40vh;
    background-size: cover;

}

.slider__item3 {
    background: #0000006e center no-repeat;
        background-size: auto;
    width: auto;
    height: 40vh;
    background-size: cover;

}

.slider__item4 {
    background: #0000006e center no-repeat;
        background-size: auto;
    width: auto;
    height: 40vh;
    background-size: cover;

}

.slider__item5 {
    background: #0000006e center no-repeat;
        background-size: auto;
    width: auto;
    height: 40vh;
    background-size: cover;

}




}