body {
    font-family: 'Gotham Pro';
    margin: 0;
	line-height: 1.6;
	overflow: hidden;
	position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
	background-color: black;
}

@font-face {
	font-family: GothamM;
	src: url('../css/ofont.ru_Gotham\ Pro.ttf');
}
@font-face {
	font-family: GothamR;
	src: url('../css/14078.ttf');
}
  
.menu {
	background-color: #1D1F20;
	position: absolute;
	z-index: 20;
	top: 0;
	bottom: 0;
	right: 0;
}
.slide_menu {
	width: 325px;
	min-height: 100vh;
	transition: 0.4s;
	opacity: 0;
	transform-origin: right;
	transform: scaleX(0);
}
.nav_menu {
	max-width: 260px;
	padding: 0;
	margin: 130px 25px;
   list-style: none;
}
li {
	display: list-item;
   text-align: -webkit-match-parent;
}
.menu_link_btn, .menu_link{
	font-size: 20px;
	font-family: GothamM;
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.1s;
}
.menu_link {
	margin: 15px 19.5px;
	display: block;
}
.menu_link_btn{
	transition: 0.1s;
}
.menu_link:hover, .menu_link_btn:hover{
	color: #ecdf89;
	text-shadow: 0 0 2px #fdee8e;
	padding: 15px;
}
	
.link_planet{
	font-size: 20px;
	font-family: GothamM;
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	margin: 0 35px;
	display: block;
}
.link_planet:hover{
	color: #ecdf89;
	text-shadow: 0 0 2px #fdee8e;
	padding: 7px;
}
.planet_list{
	transform: scaleY(0);
	transition: 0.2s;
	position: absolute;
	transform-origin: top;
}
.planet_list_active{
	transform: scaleY(1);
	position: static;
}
.arrow{
	height: 16px;
	margin-right: 8px;
	margin-bottom: -1px;
	transition: 0.2s;
}
.arrow_active{
	transform: rotate(90deg);
}

.slide_menu_active {
	transform: scaleX(1);
	opacity: 1;
}
.poloska1, .poloska2, .poloska3{
	position: absolute;
	background-color: white;
	transform: rotate(-26deg) scaleX(0);
	z-index: 20;
	transition: 0.2s;
	transform-origin: right;
}
.poloska1{
	width: 350px;
	height: 3px;
	bottom: 21.5vh;
	right: 8vw;
}
.poloska2{
	width: 430px;
	height: 7px;
	bottom: 35vh;
	right: -3vw;
}
.poloska3{
	width: 230px;
	height: 5px;
	bottom: 29.5vh;
	right: -3vw;
}
.poloska_active{
	transform: rotate(-26deg) scaleX(1);
	transition: 0.2s;
	transform-origin: right;
}
.poloska_act{
	transform: rotate(-26deg) scaleX(0);
}

header {
	width: 85vw;
	margin: 0 auto;
	height: 20vh;
}
.header_inner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.logo{
	margin: 20px;
}
.menu_btn {
	margin-top: 70px;
	margin-right: 20px;
	width: 56px;
	height: 36px;
	display: block;
	position: relative;
	z-index: 20;
}
.menu_btn span,
.menu_btn span::before,
.menu_btn span::after{
	position: absolute;
	top: 50%; margin-top: -2px;
	width: 56px;
	height: 4px;
	background-color: white;
}
.menu_btn span::before,
.menu_btn span::after{
	content: '';
	display: block;
	transition: 0.4s;
}
.menu_btn span::before{
	transform: translateY(12px);
}
.menu_btn span::after{
	transform: translateY(-12px);
}
.menu_btn_active span{
	height: 0;
}
.menu_btn_active span:before{
	transform: rotate(45deg);
	height: 3px;
	width: 50px;
}
.menu_btn_active span:after{
	transform: rotate(-45deg);
	height: 3px;
	width: 50px;
}
.menu_btn_active {
	transform: translate(100px);
}
@media (max-width: 1450px){
	header{
		width: 90vw;
	}
	.logo{
		transform: scale(0.9);
	}
	.menu_btn{
		transform: scale(0.9);
		margin: 0;
		align-self: center;
		margin-right: 20px;
		margin-top: 20px;
	}
	.nav_menu{
		margin: 100px 25px;
	}
	.menu_link{
		margin: 10px 15px;
	}
	.poloska1{
		bottom: 25vh;
	}
}

@media (max-width: 900px) {
	header{
		height: 15vh;
		justify-content: center;
		align-content: center;
	}
	.logo img{
		width: 200px;
	}
	.logo{
		margin: 10px 0;
	}
	.menu_btn{
		transform: scale(0.8);
		margin: 0;
		align-self: center;
		margin-right: 20px;
		margin-top: 22px;
	}
	.nav_menu{
		margin: 100px 25px;
	}
	.menu_link{
		font-size: 18px;
		margin: 9px 15px;
	}
	.menu_link_btn, .link_planet{
		font-size: 18px;
	}
	.poloska1{
		right: 13vw;
	}
}

@media (max-width: 600px) {
	header{
		justify-content: center;
		align-content: center;
	}
	.logo img{
		width: 170px;
	}
	.logo{
		margin: 10px 0;
	}
	.menu_btn{
		transform: scale(0.7);
		margin: 0;
		align-self: center;
		margin-right: 20px;
		margin-top: 16px;
	}
	.nav_menu{
		margin: 90px 25px;
	}
	.menu_link{
		font-size: 16px;
		margin: 4px 15px;
	}
	.menu_link_btn, .link_planet{
		font-size: 16px;
	}
	.poloska1{
		right: 20vw;
	}
}

.wrapper {
    overflow: hidden;

    display: flex;
    align-content:center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
}

.content {
    flex: 1 1 auto;
}

.hi {
    display: flex;
    align-items: flex-start;
    background: url("../img/1.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width:100%;
    height:100vh;
}
.hi_row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 40px;
    align-content: center;
}
.hi_text {
    display: flex;
    text-align: center;
    flex-direction: column;
}
.hi_text_1 {
    font-family: GothamM;
    font-size: 60px;
    color: #ffff;
}
.hi_text_2 {
    font-family: GothamM;
    font-size: 45px;
    color: #ffff;
}
.colortext {
    font-family: 'GothamM';
    font-size: 45px;
    color: #f3cd45;
}

.hi_slider {
    align-self: center;
    display: flex;
    background: rgba(196,196,196,0.5);
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 30px 40px;
    align-content: center;
}
.hi_text_3 {
    font-family: GothamM;
    font-size: 32px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 50px;
}
.hi_submit {
    margin-bottom: 10px;
    border-radius: 5px;
    color: rgb(94, 92, 92);
    font-weight: 700;
    background-color: rgb(189, 188, 188);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-decoration: none;
    padding: 17px 130px;
    text-align: center;
    line-height: 45px;
    align-self: center;
}

@media (max-width: 450px) {
	.hi {
		display: flex;
	} 
	.hi_row {
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between; 
	 align-content: center;
	}
	.hi_text {
		display: flex;
		flex-direction: column;
		margin: 0px;
	}
	.hi_text_1 {
		font-size: 25px;
	}

	.hi_text_2 {
		font-size: 19px;
		text-align: left;
	}
	.colortext {
		font-size: 19px;
	}
	.hi_slider {
		align-self: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 3px 10px;
		align-content: center;
	}
	.hi_text_3 {
		font-size: 17px;
		margin-bottom: 0px;
	}
	.hi_submit {
		margin-bottom: 5px;
		font-size: 22px;
		text-decoration: none;
		padding: 0px 50px;
		text-align: center;
		line-height: 45px;
		align-self: center;
	}
	
}
 
 @media (min-width: 451px) and (max-width: 770px) {
	.hi {
		display: flex;
	} 
	.hi_row {
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between; 
	 align-content: center;
	}
	.hi_text {
		display: flex;
		flex-direction: column;
		margin: 4px 0px;
	}
	.hi_text_1 {
		font-size: 55px;
	}

	.hi_text_2 {
		font-size: 35px;
		text-align: justify;
	}
	.colortext {
		font-size: 35px;
	}
	.hi_slider {
		align-self: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 10px 10px;
		align-content: center;
	}
	.hi_text_3 {
		font-size: 25px;
		margin-bottom: 25px;
	}
	.hi_submit {
		margin-bottom: 25px;
		font-size: 25px;
		text-decoration: none;
		padding: 12px 80px;
		text-align: center;
		line-height: 45px;
		align-self: center;
	}
}
 @media (min-width: 771px) and (max-width: 1025px) {
	.hi {
		display: flex;
	} 
	.hi_row {
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between; 
	 align-content: center;
	}
	.hi_text {
		display: flex;
		flex-direction: column;
		margin: 10px 0px;
	}
	.hi_text_1 {
		font-size: 60px;
	}

	.hi_text_2 {
		font-size: 38px;
	}
	.colortext {
		font-size: 38px;
	}
	.hi_slider {
		align-self: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 10px 10px;
		align-content: center;
	}
	.hi_text_3 {
		font-size: 30px;
		margin-bottom: 25px;
	}
	.hi_submit {
		margin-bottom: 25px;
		font-size: 25px;
		text-decoration: none;
		padding: 12px 80px;
		text-align: center;
		line-height: 45px;
		align-self: center;
	}
}
/*////////////////////////////////////////////////////*/

#orbit0 {
	animation-delay: 0s;
  }
  
  #pos0 {
	animation-delay: 0s;
  }
  
  #dot0 {
	animation-delay: 0s;
  }
  
  #orbit1 {
	animation-delay: -1s;
  }
  
  #pos1 {
	animation-delay: -1s;
  }
  
  #dot1 {
	animation-delay: -1s;
  }
  
  #orbit2 {
	animation-delay: -2s;
  }
  
  #pos2 {
	animation-delay: -2s;
  }
  
  #dot2 {
	animation-delay: -2s;
  }
  
  body {
	background-color: #4c4c4c;
  }
  
  .preloader {
	position: fixed;
	/* координаты положения */
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	/* фоновый цвет элемента */
	background-color: #4c4c4c;
	/* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
	z-index: 1001;
  }
  
  #galaxy {
	transform: rotateX(75deg);
	transform-style: preserve-3d;
	position: relative;
	width: 100%;
	height: 100%;
  }
  
  .circle {
	border-radius: 50%;
	border: 1px solid #eee;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	margin-left: -0.5em;
	-webkit-animation: spinner 1.5s infinite ease;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: rotateX(-75deg);
  }
  
  .circle2 {
	border-radius: 50%;
	border: 1px solid #eee;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	margin-left: -0.5em;
	-webkit-animation: spinner2 2s infinite ease;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: rotateX(-75deg);
  }
  
  .circle3 {
	border-radius: 50%;
	border: 1px solid #eee;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	margin-left: -0.5em;
	-webkit-animation: spinner3 2.5s infinite ease;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: rotateX(-75deg);
  }
  
  .orbit, #orbit0, #orbit1, #orbit2 {
	transform-style: preserve-3d;
	position: absolute;
	top: 50%;
	left: 50%;
	animation-name: orbit;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	width: 8em;
	height: 8em;
	margin-top: -4em;
	margin-left: -4em;
	border-radius: 50%;
  }
  
  .pos, #pos0, #pos1, #pos2 {
	position: absolute;
	width: 2em;
	height: 2em;
	margin-left: -1em;
	margin-top: -1em;
	animation-name: invert;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	left: 50%;
	top: -1px;
  }
  
  .dot, #dot0, #dot1, #dot2 {
	background-color: #eee;
	width: 0.5em;
	height: 0.5em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -0.25em;
	margin-left: -0.25em;
	border-radius: 50%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
  }
  
  /* Planet animation durations */
  .orbit, #orbit0, #orbit1, #orbit2,
  .pos,
  #pos0,
  #pos1,
  #pos2 {
	animation-duration: 3s;
  }
  
  .circle {
	font-size: 6em;
  }
  
  .circle2 {
	font-size: 5em;
  }
  
  .circle3 {
	font-size: 4em;
  }
  
  .dot, #dot0, #dot1, #dot2 {
	font-size: 0.2em;
  }
  .loaded_hiding .preloader {
	transition: 0.3s opacity;
	opacity: 0;
  }

  .loaded .preloader {
	display: none;
  }
  @keyframes orbit {
	0% {
	  transform: rotateZ(0deg);
	}
	100% {
	  transform: rotateZ(-360deg);
	}
  }
  @keyframes invert {
	0% {
	  transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
	}
	100% {
	  transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
	}
  }
  @keyframes spinner {
	0% {
	  -webkit-transform: rotate3d(1, 0, 1, 0deg);
	}
	50% {
	  -webkit-transform: rotate3d(1, 0, 1, 180deg);
	}
	100% {
	  -webkit-transform: rotate3d(1, 0, 1, 360deg);
	}
  }
  @keyframes spinner2 {
	0% {
	  -webkit-transform: rotate3d(0, 1, 1, 0deg);
	}
	50% {
	  -webkit-transform: rotate3d(0, 1, 1, 180deg);
	}
	100% {
	  -webkit-transform: rotate3d(0, 1, 1, 360deg);
	}
  }
  @keyframes spinner3 {
	0% {
	  -webkit-transform: rotate3d(1, 1, 0, 0deg);
	}
	50% {
	  -webkit-transform: rotate3d(1, 1, 0, 180deg);
	}
	100% {
	  -webkit-transform: rotate3d(1, 1, 0, 360deg);
	}
  }

  
 