body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
}

.wrapper {
    overflow: hidden;

    display: flex;
    align-content:center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
}

.content {
    flex: 1 1 auto;
}

.hi {
    display: flex;
    align-items: center;
    background: url("../images/tur.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width:100%;
    height:100vh;
}

.hi_text {
    font-size: 30px;
    font-weight: 300;
    color: #eb7954;
    text-transform: uppercase;
    line-height: 1;
    align-self:center;

}


.hi_row {
    display: flex;
    background-color: #30302e;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 30px 40px;
    align-content: center;
}
.form_row{

    align-self:center;
    display:flex;
    flex-direction: column;
}

.hi_body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    line-height: 1;

}

.input [type="text"], [type="tel"], [type="text"], [type="date"] {
    width: 430px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #656565;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding-left: 8px;
   
}

.select-type1 {
    width: 430px;
    height: 42px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #656565;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding-left: 8px;
}
.select-type1:hover, .select-type2:hover, input:hover {
    color: #eb7954;
    background: #5e5e58;
    box-shadow: 0px 0px 2px #eb7954;
    transition: all 0.3s ease;

}

.select-type2 {
    width: 80px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #656565; 
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding-left: 8px;
}

.hi_left {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    line-height: 1;
    margin: 5px;
}

.hi_submit {
    margin-bottom: 10px;
    border-radius: 10px;
    color: #eb7954;
    background-color: #30302e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    text-decoration: none;
    border: 3px solid #ffffff;
    padding: 11px 70px;
    text-align: center;
    line-height: 45px;
}

.form_row_1{
    display:flex;
    flex-direction:column;
}

.form_row_2{
    display:flex;
    flex-direction:column;
}
.form_item_1{
    display:flex;
    justify-content:space-around;

}
.form_item_2{
    display:flex;
    margin: 10px 55px;
}

.hi_riv{
    align-self:center;
}
.hi_titel_1 {
    display: flex;
}




@media (max-width: 450px){
    .hi {
        display: flex;
    }
    .hi_row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between; 
        align-content: center;
        padding: 10px 45px;
    }
    
    .hi_text {
        font-size: 17px;
    }
    .form_item_1 {
        display: flex;
        flex-wrap: wrap;
    }
    .form_item_2 {
        display: flex;
        margin: 5px -3px;
    }
    .hi_body {
        font-size: 12px;
    }
    .input [type="text"], [type="tel"], [type="text"], [type="date"] {
        width: 225px;
        height: 22px;
        font-size: 9px;
        margin-bottom: 3px;
    }
    .select-type1 {
        width: 232px;
        height: 28px;
        font-size: 9px;  
        margin-bottom: 3px;
    }
    .hi_left {
        font-size: 12px;
    }
    .select-type2 {
        width: 55px;
        height: 28px;
        font-size: 9px;
        margin-bottom: 3px;
    }
    .hi_submit {
        margin-bottom: 3px;
        font-size: 16px;
        text-decoration: none;
        padding: 5px 50px;
    }
}

@media (min-width: 451px) and (max-width: 770px) {
    .hi {
        display: flex;
    }
    .hi_row {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        align-content: center;
        padding: 10px 45px;
    }
    
    .hi_text {
        font-size: 22px;
    }
    .form_item_1 {
        display: flex;
        justify-content: space-around;
    }
    .form_item_2 {
        display: flex;
        margin: 5px -3px;
    }
    .hi_body {
        font-size: 15px;
    }
    .input [type="text"], [type="tel"], [type="text"], [type="date"] {
        width: 315px;
        height: 28px;
        font-size: 13px;
        margin-bottom: 3px;
    }
    .select-type1 {
        width: 320px;
        height: 33px;
        font-size: 13px;  
        margin-bottom: 3px;
    }
    .hi_left {
        font-size: 15px;
    }
    .select-type2 {
        width: 65px;
        height: 33px;
        font-size: 13px;
        margin-bottom: 3px;
    }
    .hi_submit {
        margin-bottom: 3px;
        font-size: 18px;
        text-decoration: none;
        padding: 5px 50px;
    }
}