body {
    font-family: 'Gotham Pro';
    margin: 0;
	line-height: 1.6;
	overflow: hidden;
	position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
	background-color: black;
}

@font-face {
	font-family: GothamM;
	src: url('../css/ofont.ru_Gotham\ Pro.ttf');
}
@font-face {
	font-family: GothamR;
	src: url('../css/14078.ttf');
}
  
.menu {
	background-color: #1D1F20;
	position: absolute;
	z-index: 20;
	top: 0;
	bottom: 0;
	right: 0;
}
.slide_menu {
	width: 325px;
	min-height: 100vh;
	transition: 0.4s;
	opacity: 0;
	transform-origin: right;
	transform: scaleX(0);
}
.nav_menu {
	max-width: 260px;
	padding: 0;
	margin: 130px 25px;
   list-style: none;
}
li {
	display: list-item;
   text-align: -webkit-match-parent;
}
.menu_link_btn, .menu_link{
	font-size: 20px;
	font-family: GothamM;
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.1s;
}
.menu_link {
	margin: 15px 19.5px;
	display: block;
}
.menu_link_btn{
	transition: 0.1s;
}
.menu_link:hover, .menu_link_btn:hover{
	color: #ecdf89;
	text-shadow: 0 0 2px #fdee8e;
	padding: 15px;
}
	
.link_planet{
	font-size: 20px;
	font-family: GothamM;
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	margin: 0 35px;
	display: block;
}
.link_planet:hover{
	color: #ecdf89;
	text-shadow: 0 0 2px #fdee8e;
	padding: 7px;
}
.planet_list{
	transform: scaleY(0);
	transition: 0.2s;
	position: absolute;
	transform-origin: top;
}
.planet_list_active{
	transform: scaleY(1);
	position: static;
}
.arrow{
	height: 16px;
	margin-right: 8px;
	margin-bottom: -1px;
	transition: 0.2s;
}
.arrow_active{
	transform: rotate(90deg);
}

.slide_menu_active {
	transform: scaleX(1);
	opacity: 1;
}
.poloska1, .poloska2, .poloska3{
	position: absolute;
	background-color: white;
	transform: rotate(-26deg) scaleX(0);
	z-index: 20;
	transition: 0.2s;
	transform-origin: right;
}
.poloska1{
	width: 350px;
	height: 3px;
	bottom: 21.5vh;
	right: 8vw;
}
.poloska2{
	width: 430px;
	height: 7px;
	bottom: 35vh;
	right: -3vw;
}
.poloska3{
	width: 230px;
	height: 5px;
	bottom: 29.5vh;
	right: -3vw;
}
.poloska_active{
	transform: rotate(-26deg) scaleX(1);
	transition: 0.2s;
	transform-origin: right;
}
.poloska_act{
	transform: rotate(-26deg) scaleX(0);
}

header {
	width: 85vw;
	margin: 0 auto;
	height: 20vh;
}
.header_inner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.logo{
	margin: 20px;
}
.menu_btn {
	margin-top: 70px;
	margin-right: 20px;
	width: 56px;
	height: 36px;
	display: block;
	position: relative;
	z-index: 20;
}
.menu_btn span,
.menu_btn span::before,
.menu_btn span::after{
	position: absolute;
	top: 50%; margin-top: -2px;
	width: 56px;
	height: 4px;
	background-color: white;
}
.menu_btn span::before,
.menu_btn span::after{
	content: '';
	display: block;
	transition: 0.4s;
}
.menu_btn span::before{
	transform: translateY(12px);
}
.menu_btn span::after{
	transform: translateY(-12px);
}
.menu_btn_active span{
	height: 0;
}
.menu_btn_active span:before{
	transform: rotate(45deg);
	height: 3px;
	width: 50px;
}
.menu_btn_active span:after{
	transform: rotate(-45deg);
	height: 3px;
	width: 50px;
}
.menu_btn_active {
	transform: translate(100px);
}
@media (max-width: 1450px){
	header{
		width: 90vw;
	}
	.logo{
		transform: scale(0.9);
	}
	.menu_btn{
		transform: scale(0.9);
		margin: 0;
		align-self: center;
		margin-right: 20px;
		margin-top: 20px;
	}
	.nav_menu{
		margin: 100px 25px;
	}
	.menu_link{
		margin: 10px 15px;
	}
	.poloska1{
		bottom: 25vh;
	}
}

@media (max-width: 900px) {
	header{
		height: 15vh;
		justify-content: center;
		align-content: center;
	}
	.logo img{
		width: 200px;
	}
	.logo{
		margin: 10px 0;
	}
	.menu_btn{
		transform: scale(0.8);
		margin: 0;
		align-self: center;
		margin-right: 20px;
		margin-top: 22px;
	}
	.nav_menu{
		margin: 100px 25px;
	}
	.menu_link{
		font-size: 18px;
		margin: 9px 15px;
	}
	.menu_link_btn, .link_planet{
		font-size: 18px;
	}
	.poloska1{
		right: 13vw;
	}
}

@media (max-width: 600px) {
	header{
		justify-content: center;
		align-content: center;
	}
	.logo img{
		width: 170px;
	}
	.logo{
		margin: 10px 0;
	}
	.menu_btn{
		transform: scale(0.7);
		margin: 0;
		align-self: center;
		margin-right: 20px;
		margin-top: 16px;
	}
	.nav_menu{
		margin: 90px 25px;
	}
	.menu_link{
		font-size: 16px;
		margin: 4px 15px;
	}
	.menu_link_btn, .link_planet{
		font-size: 16px;
	}
	.poloska1{
		right: 20vw;
	}
}

.wrapper {
    overflow: hidden;

    display: flex;
    align-content:center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
}

.content {
    flex: 1 1 auto;
}

.hi {
    background: url("../img/2.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width:100%;
    height:100vh;
}
.hi_row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 40px;
    align-content: center;
}
.hi_text {
    display: flex;
    text-align: center;
    flex-direction: column;
}
.hi_text_1 {
    font-family: GothamM;
    font-size: 60px;
    color: #ffff;
}
.hi_text_2 {
    font-family: GothamM;
    font-size: 45px;
    color: #ffff;
}
.colortext {
    font-family: 'GothamM';
    font-size: 45px;
    color: #f3cd45;
}

.hi_slider {
    align-self: center;
    display: flex;
    background: rgba(196,196,196,0.5);
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 30px 40px;
    align-content: center;
}
.hi_text_3 {
    font-family: GothamM;
    font-size: 32px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 50px;
}
.hi_submit {
    margin-bottom: 10px;
    border-radius: 5px;
    color: rgb(94, 92, 92);
    font-weight: 700;
    background-color: rgb(189, 188, 188);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-decoration: none;
    padding: 17px 130px;
    text-align: center;
    line-height: 45px;
    align-self: center;
}
@media (max-width: 450px) {
	.hi_row {
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between; 
	 align-content: center;
	}
	.hi_text {
		display: flex;
		flex-direction: column;
		margin: 0px;
	}
	.hi_text_1 {
		font-size: 23px;
	}

	.hi_text_2 {
		font-size: 18px;
		text-align: left;
	}
	.colortext {
		font-size: 18px;
	}
	.hi_slider {
		align-self: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 3px 10px;
		align-content: center;
	}
	.hi_text_3 {
		font-size: 16px;
		margin-bottom: 0px;
	}
	.hi_submit {
		margin-bottom: 3px;
		font-size: 21px;
		text-decoration: none;
		padding: 0px 50px;
		text-align: center;
		line-height: 45px;
		align-self: center;
	}
	
}
 
 @media (min-width: 451px) and (max-width: 770px) {
	.hi_row {
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between; 
	 align-content: center;
	}
	.hi_text {
		display: flex;
		flex-direction: column;
		margin: 4px 0px;
	}
	.hi_text_1 {
		font-size: 55px;
	}

	.hi_text_2 {
		font-size: 35px;
		text-align: justify;
	}
	.colortext {
		font-size: 35px;
	}
	.hi_slider {
		align-self: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 10px 10px;
		align-content: center;
	}
	.hi_text_3 {
		font-size: 25px;
		margin-bottom: 25px;
	}
	.hi_submit {
		margin-bottom: 25px;
		font-size: 25px;
		text-decoration: none;
		padding: 12px 80px;
		text-align: center;
		line-height: 45px;
		align-self: center;
	}
}
 @media (min-width: 771px) and (max-width: 1025px) {
	.hi_row {
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between; 
	 align-content: center;
	}
	.hi_text {
		display: flex;
		flex-direction: column;
		margin: 10px 0px;
	}
	.hi_text_1 {
		font-size: 58px;
	}

	.hi_text_2 {
		font-size: 37px;
	}
	.colortext {
		font-size: 37px;
	}
	.hi_slider {
		align-self: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 8px 8px;
		align-content: center;
	}
	.hi_text_3 {
		font-size: 30px;
		margin-bottom: 20px;
	}
	.hi_submit {
		margin-bottom: 20px;
		font-size: 25px;
		text-decoration: none;
		padding: 10px 80px;
		text-align: center;
		line-height: 45px;
		align-self: center;
	}
}
 
